@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Plus Jakarta Sans';
    font-size: 13px;
    line-height: 23px;
}

@layer components {
    h1 {
        @apply text-xl font-bold leading-xl;
    }

    h2 {
        @apply text-l font-bold leading-l;
    }

    h3 {
        @apply text-m font-bold leading-m;
    }

    h4 {
        @apply text-sm font-bold leading-sm;
    }

}