@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Plus Jakarta Sans';
}

@layer components {
    .heading-xl {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
    }

    .heading-l {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
    }

    .heading-m {
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 19px;
    }

    .heading-s {
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 2.4px;
        color: #828FA3;
    }

    .btn-pri-l {
        background: #635FC7;
        border-radius: 50px;
        color: white;
        padding: 15px 0;
    }

    .btn-pri-l-hover {
        background: #A8A4FF;
        color: white;
        border-radius: 50px;
        padding: 15px 0;
    }

    .btn-pri-s {
        background: #635FC7;
        border-radius: 50px;
        color: white;
        padding: 8px 0;
    }

    .btn-pri-s-hover {
        background: #A8A4FF;
        border-radius: 50px;
        color: white;
        padding: 8px 0;
    }

    .btn-secondary {
        background: rgba(99, 95, 199, 0.1);
        border-radius: 50px;
        color: #635FC7;
        padding: 15px 0;
    }

    .btn-secondary-hover {
        background: rgba(99, 95, 199, 0.25);
        border-radius: 50px;
        color: #635FC7;
        padding: 15px 0;
    }

    .btn-destructive {
        background: #EA5555;
        border-radius: 50px;
        color: white;
        padding: 15px 0;
    }

    .btn-destructive-hover {
        background: #FF9898;
        border-radius: 50px;
        color: white;
        padding: 15px 0;
    }

    .checkbox-idle {
        background: #F4F7FD;
        border-radius: 4px;
    }

    .checkbox-idle-dark {
        background: #20212C;
        border-radius: 4px;
        color: #FFFFFF;
    }

    .checkbox-hover {
        background: #635FC7;
        mix-blend-mode: normal;
        opacity: 0.25;
        border-radius: 4px;
    }

    .checkbox-hover-dark {
        background: #635FC7;
        mix-blend-mode: normal;
        opacity: 0.25;
        border-radius: 4px;
        color: white
    }

    .checkbox-complete {
        /* Light Grey (Light BG) */

        background: #F4F7FD;
        border-radius: 4px;
        color: #000112;

        mix-blend-mode: normal;
        opacity: 0.5;
    }

    .checkbox-complete-dark {
        /* White */
        background: #20212C;
        border-radius: 4px;
        color: #FFFFFF;

        mix-blend-mode: normal;
        opacity: 0.5;
    }

    .input-idle {
        /* White */

        background: #FFFFFF;
        border: 1px solid rgba(130, 143, 163, 0.25);
        border-radius: 4px;
        color: #000112;

        mix-blend-mode: normal;
        opacity: 0.25;
    }

    .input-idle-dark {
        background: #2B2C37;
        border: 1px solid rgba(130, 143, 163, 0.25);
        border-radius: 4px;
        color: #FFFFFF;

        mix-blend-mode: normal;
        opacity: 0.25;
    }

    .input-active {
        background: #FFFFFF;
        border: 1px solid rgba(130, 143, 163, 0.25);
        border-radius: 4px;
        color: #000112;
    }

    .input-active-dark {
        background: #2B2C37;
        border: 1px solid rgba(130, 143, 163, 0.25);
        border-radius: 4px;
        color: white
    }

    .input-error {
        /* White */

        background: #FFFFFF;
        /* Red */

        border: 1px solid #EA5555;
        border-radius: 4px;
        /* Black */

        color: #000112;

        mix-blend-mode: normal;
        opacity: 0.25;
    }

    .input-error-dark {
        background: #2B2C37;
        /* Red */

        border: 1px solid #EA5555;
        border-radius: 4px;
        color: #FFFFFF;

        mix-blend-mode: normal;
        opacity: 0.25;
    }

    .dropdown-idle {
        background: white;
        color: black;
        border: 1px solid rgba(130, 143, 163, 0.25);
        border-radius: 4px;
    }

    .dropdown-idle-dark {
        border: 1px solid rgba(130, 143, 163, 0.25);
        border-radius: 4px;
        background: #2B2C37;
        color: white
    }

    .dropdown-active {
        /* Main Purple */
        background: white;
        color: black;
        border: 1px solid #635FC7;
        border-radius: 4px;
    }

    .dropdown-active-dark {
        border: 1px solid #635FC7;
        border-radius: 4px;
        background: #2B2C37;
        color: white;
    }

    .dropdown-items-bg {
        /* White */

        background: #FFFFFF;
        box-shadow: 0px 10px 20px rgba(54, 78, 126, 0.25);
        border-radius: 8px;
    }

    .dropdown-items-bg-dark {
        background: #20212C;
        box-shadow: 0px 10px 20px rgba(54, 78, 126, 0.25);
        border-radius: 8px;
    }

    .dropdown-items {
        color: #828FA3;
    }



}